.main {
  padding: 20px;
  form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    input {
      height: 30px;
      outline: 0;
      border: none;
      font-size: 1rem;
      font-family: "roboto", sans-serif;
      color: #595959;
      flex-grow: 1;
    }
  }
}
