#about {
  h1 {
    font-size: 60px;
    margin: 40px;
  }
  p {
    font-size: 19px;
  }
  img {
    object-fit: fill;
    width: 100px;
    height: 150px;
    margin: 40px 0 20px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 11px 15px 5px rgba(0, 0, 0, 0.27);
  }
}

.about-image {
}

// Overall
#id {
  display: flex;
  justify-content: center;
  align-items: center;
}
